{% extends "baseWithNav.html" %}

{% block baseHead %}

<!-- add SEO -->

<meta property="og:type" content="website">
<meta property="twitter:site" content="@Blogifyr">
<meta property="og:image" content="/static/img/banner.png">
<meta name="twitter:image" content="/static/img/banner.png">
<meta name="keywords" content="{{ keywords or '' }}">

<link rel="stylesheet" href="/static/css/home.css">
<style>
    @media only screen and (max-width: 480px) {
        .nav-left-container{
            width: unset;
        }
    }
</style>

{% endblock %}


{% block baseWithNavBody %}
<div class="root">
    <!-- {{ data|safe }} -->
    <aside class="left">
        <div class="container" id="postsContainer">
            {% for post in posts %}
            <div class="item-wrapper">
                <div class="item">
                    <aside style="width: 100%;">
                        <div class="img">
                            <img alt="{{ post.author }}" class="ah cs jm gu gv et" src="/static/userPNG/{{ post.author_img if post.author_img else 'None.png' }}" width="20" height="20" loading="lazy">
                            <a href="{{ post.author_url }}">{{ post.author }}</a>
                            <span>•</span>
                            <span>{{ post.date }}</span>
                        </div>
                        <a href="{{ post.url }}">
                            <div class="title">
                                <h2>{{ post.title }}</h2>
                                <h3>{{ post.subtitle }}</h3>
                            </div>
                        </a>
                    </aside>
                    <aside>
                        {% if post.img %}
                            <div class="blog-img">
                                <a href="{{ post.url }}">
                                    <img alt="{{ post.title }}" src="{{ post.img }}" width="112" height="112" loading="lazy">
                                </a>
                            </div>
                        {% else %}
                            <div class="blog-img"></div>
                        {% endif %}

                    </aside>
                </div>  
                <div class="meta">
                    <div>
                        {% if post.tag  %}
                            <a href="{{ post.tag_url }}">{{ post.tag }}</a>    
                        {% endif %}
                        <span>{{ post.length }} read</span>
                    </div>
                    <div>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" class="il mg" aria-label="Add to list bookmark button"><path d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z" fill="currentColor"></path></svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="mz na"><path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18zM8.25 12h7.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.39 12c0 .55.2 1.02.59 1.41.39.4.86.59 1.4.59.56 0 1.03-.2 1.42-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.6-1.41A1.93 1.93 0 0 0 6.4 10c-.55 0-1.02.2-1.41.59-.4.39-.6.86-.6 1.41zM10 12c0 .55.2 1.02.58 1.41.4.4.87.59 1.42.59.54 0 1.02-.2 1.4-.59.4-.39.6-.86.6-1.41 0-.55-.2-1.02-.6-1.41a1.93 1.93 0 0 0-1.4-.59c-.55 0-1.04.2-1.42.59-.4.39-.58.86-.58 1.41zm5.6 0c0 .55.2 1.02.57 1.41.4.4.88.59 1.43.59.57 0 1.04-.2 1.43-.59.39-.39.57-.86.57-1.41 0-.55-.2-1.02-.57-1.41A1.93 1.93 0 0 0 17.6 10c-.55 0-1.04.2-1.43.59-.38.39-.57.86-.57 1.41z" fill="currentColor"></path></svg>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </aside>
    <aside class="right" id="root-right">
        <div class="right-fixed">
            <div class="writer">
                <div class="writer-img">
                    <img alt="" src="/static/userPNG/{{user.userPNG if user.userPNG else 'None.png'}}" width="72" height="72" loading="lazy">
                    <h2>{{user.userName}}</h2>
                </div>
                <div style="display: flex;flex-wrap: wrap; flex-direction: column;">
                    <div style="padding-bottom: 1rem;">
                        <div style="margin-bottom:8px;">
                            <a href="">{{user.userFollowers if user.userFollowers else '0'}} Followers</a>
                        </div>
                        <div>
                            {{user.userDescription if user.userDescription else 'No description available'}}
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row;gap:9px;flex-wrap: wrap;">
                        <button>
                            Follow
                        </button>
                        <button style="padding: 0px; height: 36px;">
                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" style="stroke: rgb(255, 255, 255);width: 36px;height: 36px;"><rect x="26.25" y="9.25" width="0.5" height="6.5" rx="0.25"></rect><rect x="29.75" y="12.25" width="0.5" height="6.5" rx="0.25" transform="rotate(90 29.75 12.25)"></rect><path d="M19.5 12.5h-7a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1v-5"></path><path d="M11.5 14.5L19 20l4-3"></path></svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="saved">
                <h2>Saved Blogs</h2>
                <a href="" class="more-btn">See all (1)</a>
            </div>

            <div class="side-footer">
                <a href="">Help</a>
                <a href="">Status</a>
                <a href="">About</a>
                <a href="">Careers</a>
                <a href="">Blog</a>
                <a href="">Privacy</a>
                <a href="">Terms</a>
                <a href="">Text to speech</a>
                <a href="">Teams</a>
            </div>
        </div>
       </aside>
</div>

<script>
    // todo side-right scroll stop
    const right = document.getElementById("root-right");
    const rightFixed = document.getElementsByClassName("right-fixed")[0];
    const nav = document.getElementsByTagName('nav')[0];
    onresize = (e)=>{
        if(rightFixed.scrollHeight>window.innerHeight){
            if (rightFixed.scrollHeight > (document.documentElement.scrollTop+window.innerHeight-57-20)) { // right.scrollHeight-
                rightFixed.style.top = (57-document.documentElement.scrollTop)+"px";
            } else {
                rightFixed.style.top = (window.innerHeight-rightFixed.scrollHeight-20)+"px";
            }
        }else{
            rightFixed.style.top = Math.max(57-document.documentElement.scrollTop, 0)+"px";
        }
    }

    let loading = 0;
    const postsContainer = document.getElementById("postsContainer");
    function getPosts(){
        let data = {
            userid: {{ userid }},
            query: {% if query %}'{{ query }}'{% else %}null{% endif %},
            tag_id: {{ tag.id if tag else 'null' }}
        };
        fetch("/api/posts", {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(data)
        }).then(res=>res.json()).then(res => {
            loading = 0;
            if(res['posts']){
                res['posts'].forEach(post => {
                    let innerHTML = `<div class="item-wrapper">
                <div class="item">
                    <aside style="width: 100%;">
                        <div class="img">
                            <img alt="${post.author}" class="ah cs jm gu gv et" src="/static/userPNG/${post.author_img?post.author_img:'None.png'}" width="20" height="20" loading="lazy">
                            <a href="${post.author_url}">${post.author}</a>
                            <span>•</span>
                            <span>${post.date}</span>
                        </div>
                        <a href="${post.url}">
                            <div class="title">
                                <h2>${post.title}</h2>
                                <h3>${post.subtitle}</h3>
                            </div>
                        </a>
                    </aside>
                    <aside>
                        <div class="blog-img">`;
                    if (post.img) {
                        innerHTML+=`<a href="${post.url}">
                                <img alt="${post.title}" src="${post.img}" width="112" height="112" loading="lazy">
                            </a>`;
                    }
                    innerHTML+=`</div>
                    </aside>
                </div>  
                <div class="meta">
                    <div>
                        ${post.tag ? '<a href="'+post.tag_url+'">'+post.tag+'</a>' : '' }
                        <span>${post.length} read</span>
                    </div>
                    <div>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" class="il mg" aria-label="Add to list bookmark button"><path d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z" fill="currentColor"></path></svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="mz na"><path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18zM8.25 12h7.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.39 12c0 .55.2 1.02.59 1.41.39.4.86.59 1.4.59.56 0 1.03-.2 1.42-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.6-1.41A1.93 1.93 0 0 0 6.4 10c-.55 0-1.02.2-1.41.59-.4.39-.6.86-.6 1.41zM10 12c0 .55.2 1.02.58 1.41.4.4.87.59 1.42.59.54 0 1.02-.2 1.4-.59.4-.39.6-.86.6-1.41 0-.55-.2-1.02-.6-1.41a1.93 1.93 0 0 0-1.4-.59c-.55 0-1.04.2-1.42.59-.4.39-.58.86-.58 1.41zm5.6 0c0 .55.2 1.02.57 1.41.4.4.88.59 1.43.59.57 0 1.04-.2 1.43-.59.39-.39.57-.86.57-1.41 0-.55-.2-1.02-.57-1.41A1.93 1.93 0 0 0 17.6 10c-.55 0-1.04.2-1.43.59-.38.39-.57.86-.57 1.41z" fill="currentColor"></path></svg>
                    </div>
                </div>
            </div>`;
                postsContainer.innerHTML+=innerHTML;
                });
            }else{
                console.log('Error !!!');
            }
        });
    }
    
    let lastPosition = document.documentElement.scrollTop;
    let stopGoingUp = document.documentElement.scrollTop;
    onscroll = (e)=>{
        if((loading==0)&&(document.body.scrollHeight-window.innerHeight-document.documentElement.scrollTop<window.innerHeight)){
            loading = 1;
            getPosts();
            console.log("Loading");
        }
        // nav handling
        if(document.documentElement.scrollTop < 57){
            console.log("do not handle nav");
            nav.style.top = "0px";
        }
        else if (lastPosition>document.documentElement.scrollTop){
            nav.style.top = (Math.min(lastPosition-document.documentElement.scrollTop, 57)-57)+"px";

            if(stopGoingUp<document.documentElement.scrollTop){
                lastPosition = document.documentElement.scrollTop;    
            }
            stopGoingUp = document.documentElement.scrollTop;
        }else{
            lastPosition = document.documentElement.scrollTop;
            nav.style.top = (-Math.min(document.documentElement.scrollTop, 57))+"px";
        }
        
        // sideBar handling
        if(rightFixed.scrollHeight>window.innerHeight){
            if (rightFixed.scrollHeight > (document.documentElement.scrollTop+window.innerHeight-57-20)) { // right.scrollHeight-
                rightFixed.style.top = (57-document.documentElement.scrollTop)+"px";
            } else {
                // console.log(rightFixed.style.top, window.innerHeight-rightFixed.scrollHeight-20);
                rightFixed.style.top = (window.innerHeight-rightFixed.scrollHeight-20)+"px";
            }
        }else{
            rightFixed.style.top = Math.max(57-document.documentElement.scrollTop, 0)+"px";
        }
    }
</script>
{% endblock %}